/*Note: This global style is only for sub pages.*/

:root {
    --my-heading-color: #E6563B;
    --my-sub-heading-color: #EB9D3A;
    --my-success-color: #7CB06C;
    --my-info-color: #00ABA9;
}

h1 {
    color: var(--my-heading-color);
}

h2, h3, h4, h5, h6 {
    color: var(--my-sub-heading-color);
}

.navbar {
    background-color: var(--my-success-color);
}

.navbar-brand {
    width: 2em;
    height: 2em;
}

/*Hide logo from standard nav*/
.navbar-brand img {
    display: none;
}

/*Use alternative nav image*/
.navbar-brand {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/logo.png');
    border: 1px solid var(--my-sub-heading-color);
}

#my-footer {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    position: absolute;
    background-color: var(--my-success-color);
    bottom: 0;
    width: 100%;
    border: 1px solid var(--my-info-color);
}