:root {
    --red-dot: #E6563B;
    --yellow-dot: #EB9D3A;
    --green-dot: #7CB06C;
    --blue-dot: #00ABA9;
    --light-grey: #F0F0F0;
    --dark-grey: #E6E6E6;
}

.last-tweet {

}

.brand-title {
    font-size: 28px;
}

.abel {
    font-family: 'Abel', sans-serif;
}

.anton {
    font-family: 'Anton', sans-serif;
}

.navbar-brand img {
    height: 105px;
    width: 105px;
    padding: .5em;
}

img {
    border: 1em solid var(--dark-grey);
}

#nav-title {
    margin-left: -1em;
}

#navbar img {
    border: none;
}

.dot {
    border-radius: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.red-dot {
    background-color: var(--red-dot);
}

.yellow-dot {
    background-color: var(--yellow-dot);
}

.green-dot {
    background-color: var(--green-dot);
}

.blue-dot {
    background-color: var(--blue-dot);
}

.light-grey-dot {
    background-color: var(--light-grey);
}

.dark-grey-dot {
    background-color: var(--dark-grey);
}

.big-dot {
    width: 140px;
    height: 140px;
    border: 10px solid white;
    color: white;
    text-transform: uppercase;
}

.little-dot {
    font-size: small;
    display: flex;
    width: 18px;
    height: 18px;
    color: black;
}

html, body {
    background-color: var(--light-grey);
}

#navbar {
    background-color: var(--light-grey);
}

.side-image {
    height: 90px;
}



