:root {
    --red-dot: #E6563B;
    --yellow-dot: #EB9D3A;
    --green-dot: #7CB06C;
    --blue-dot: #00ABA9;
    --light-grey: #F0F0F0;
    --dark-grey: #E6E6E6;
}

.featured {
    display: flex;
    padding-left: .5em;
    padding-bottom: .5em;
    padding-top: .5em;
}

.card {
    background-color: var(--light-grey);
    border: transparent;
}

.align-content {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.heading {
    /*border: 1px solid red;*/
    font-size: 4em;
    margin: auto;
    width: 70%;
}

.sub-heading {
    /*border: 1px solid red;*/
    font-size: 2.5em;
    margin: auto;
    width: 70%;
}

.brand-title {
    font-size: 28px;
}

.abel {
    font-family: 'Abel', sans-serif;
}

.anton {
    font-family: 'Anton', sans-serif;
}

.navbar-brand img {
    height: 105px;
    width: 105px;
    padding: .5em;
}

.image-border {
    border: .5em solid var(--dark-grey);
    height: 100%;
}

#nav-title {
    margin-left: -1em;
}

#navbar img {
    border: none;
}

.dot {
    border-radius: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.red-dot {
    background-color: var(--red-dot);
}

.yellow-dot {
    background-color: var(--yellow-dot);
}

.green-dot {
    background-color: var(--green-dot);
}

.blue-dot {
    background-color: var(--blue-dot);
}

.light-grey-dot {
    background-color: var(--light-grey);
}

.dark-grey-dot {
    background-color: var(--dark-grey);
}

.big-dot {
    width: 140px;
    height: 140px;
    border: 10px solid white;
    color: white;
    text-transform: uppercase;
}

.little-dot {
    font-size: small;
    display: flex;
    width: 18px;
    height: 18px;
    color: black;
}

html, body {
    background-color: var(--light-grey);
}

#navbar {
    background-color: var(--light-grey);
}

.side {
    gap: 1em;
}

.side-image {
    width: 75px;
    height: 75px;
    border: .2em solid var(--dark-grey);
}


#i1 {
    background-image: url("../images/apple-ipad.jpg");
}

#i2 {
    background-image: url("../images/macbook.jpg");
}

#i3 {
    background-image: url("../images/man.jpg");
}

#i4 {
    background-image: url("../images/security.jpg");
}

.the-dots {
    flex-wrap: wrap;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1100px) {

}

@media (min-width: 992px) and (max-width: 1200px){
    #right-column{
        display: none !important;
    }

    #left-column{
        width:100%;
    }
}
